<!----------------------------------------HEADER----------------------------------->

<header class="first-header">
    <!--Menu Sidebar-->
    <div class="open-sidebar">
        <i id="bar-sidebar" class="fa-solid fa-bars-staggered"></i>
    </div>
    <!--Logo-->
    <img class="logo" id="logo" src="../../assets/img/Logo.png" alt="Isgreatshop-Logo">
    <!--Nav-->
    <nav class="browser" id="first-nav">
        <ul>
            <li><a href="">INICIO</a></li>
            <li><a href="">ACERCA DE</a></li>
                <div class="header-categories-1">
                    <li class="categories-list"><a href="">CATEGORIAS <i class="fa-solid fa-caret-right"></i></a></li>
                    <div class="header-categories-submenu">
                        <li><a href="">HOGAR</a></li>
                        <li><a href="">TECNOLOGIA</a></li>
                        <li><a href="">MASCOTAS</a></li>
                        <li><a href="">BELLEZA</a></li>
                        <li><a href="">FITNESS</a></li>
                    </div>
                </div>
            <li><a href="">CONTACTANOS</a></li>
            <li><a href="">TIENDA</a></li>
        </ul>
    </nav>
    <!--Carrito-->
    <i id="cart" class="fa-solid fa-cart-shopping cart-icon"></i>
</header>

<!----------------------------------------SIDEBAR----------------------------------->

<header class="sidebar-header">
    <!--Menu Cierre-->
    <div class="close-sidebar">
        <i id="close-sidebar-header" class="fa-solid fa-x"></i>
    </div>
    <!--Logo-->
    <img class="sidebar-logo" src="../../assets/img/Logo.png" alt="Isgreatshop">
    <!--Browser-->
    <nav>
        <ul class="sidebar-submenu-1">
            <li><a href="">INICIO</a></li>
            <li><a href="">ACERCA DE</a></li>
            <li>
            <p class="category-title"> CATEGORIAS <i class="fa-solid fa-caret-down"></i></p>
               <ul class="sidebar-submenu-2">
                    <li><a href="">HOGAR</a></li>
                    <li><a href="">TECNOLOGIA</a></li>
                    <li><a href="">MASCOTAS</a></li>
                    <li><a href="">BELLEZA</a></li>
                    <li><a href="">FITNESS</a></li>
               </ul> 
            </li>
            <li><a href="">CONTACTANOS</a></li>
            <li><a href="">TIENDA</a></li>
        </ul>
    </nav>
</header>
