<!----------------------------------------CART----------------------------------->
<!--Cart-->
<div class="cart">
    <h2 class="cart-title">TU CARRITO</h2>
    <!--content-->
    <div class="cart-content">

    </div>
    <!--Total-->
    <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">$0</div>
    </div>
    <!-- Buy Button-->
    <button type="button" class="btn-buy">Comprar Ahora</button>
    <!-- Cart Close-->
    <i id="close-cart" class="fa-solid fa-x close-cart"></i>
</div>

