<!----------------------------------------MAIN-BANNER----------------------------------->
<section class="home">
    <!--Home-Content-->
    <div class="home-content">
        <h3 class="home-tiquet">Compra en grande || Crece en grande</h3>
        <h1 class="home-title">Audífonos inalámbricos resistentes al agua</h1>
            <div class="home-prices">
                <h4 class="price-now">$159.000</h4>
                <h4 class="price-before">$169.900</h4>
            </div>
        <p class="home-product-description">
            Te permiten recibir/rechazar la llamada, ajustar el volumen,
            cambiar la pista y activar Alexa, Siri o Google orant con el botón multifunción (pulsar).
        </p>
            <div class="home-products-btn">
                <a href="" id="buy-now" class="home-product-buy-now">Comprar Ahora ></a>
                <a href="" id="home-product-info" class="home-product-info">Mas Informacion</a>
            </div>
    </div>
    <!--Home-Product Img-->
    <div class="home-product-img">
        <img src="../../../assets/img/product-example.png" alt="Audifonos inalambricos">
    </div>
</section>

<!-------------------------------------CALL-TO-ACTION----------------------------------->
<article class="action-one">
    <div class="action-info">
        <i id="action-icon" class="fa-solid fa-magnifying-glass"></i>
        <div class="action-info-text">
            <h2>BUSCA TU PRODUCTO</h2>
            <p>En ISGREATSHOP tenemos un gran catálogos de productos
            que te pueden gustar</p>
        </div>
    </div>
    <div class="action-info">
        <div class="action-info-text">
            <h2>ELIGE COMO COMPRARLO</h2>
            <p>ISGREATSHOP te ofrecerá la oportunidad de contactarte con el vendedor
            o comprarlo directamente </p>
        </div>
        <i id="action-icon" class="fa-solid fa-arrow-pointer"></i>
    </div>
</article>

<!----------------------------------FEATURED PRODUCTS----------------------------------->




<!----------------------------------INVITATION-TO-SHOP----------------------------------->
<article class="action-two">
    <div class="action-two-info">
        <h2>¿Te Gustaria Ver Mas Productos?</h2>
        <p>ISGREATSHOP se encarga de mantener los mejores productos al alcance de un clic</p>
    </div>
    <a href="" class="action-two-btn">VER MAS PRODUCTOS</a>
</article>

<!-------------------------------------CATEGORIES/LINKS----------------------------------->




<!-------------------------------------FORM COMMENTS-------------------------------------->




